.idea
!.idea/codeStyles/codeStyleConfig.xml
*.iml
*/target/**
.gradle
build/
gradle/wrapper
gradlew
gradlew.bat
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

### Gradle Patch ###
**/build/

